/* 이 css는 깃허브 마우스오버 효과에서 가져왔습니다!! 재밌어요... */
.hvr-sweep-to-top2 {
  display: inline-block;
  vertical-align: middle;  /* 수직정렬요소 */
  transform: perspective(1px) translateZ(0);/* 2d이동 */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top2:before {
  content: "";
  position: absolute;
  z-index: -1;/* -1아래에 위치 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;/* 색*/
  transform: scaleY(0);
  transform-origin: 50% 100%;/* 원상태로 돌아갈때 */
  transition-property: transform;/* 속성값이 동적으로  */
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-top2:hover:before, .hvr-sweep-to-top2:focus:before, .hvr-sweep-to-top2:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(0.3);
}
